@import '../scss/library/index';

.page {
  h1,
  .page__title {
    background-color: transparent;
    text-align: center;
  }

  h2,
  .section__subtitle {
    color: $color-4;
    font-size: $font-size;
  }
}
