/* ----- */
/* Colors */
/* ----- */

// Text and background colors
$color-1: rgb(215, 220, 243);
$color-2: rgb(53, 117, 245);
$color-3: rgb(37, 30, 30);
$color-4: rgb(16, 39, 86);

// Links
$color-link: $color-2;
$color-link--hover: $color-4;

// Borders
$color-border: $color-2;
$color-border--hover: $color-4;
