@import '../scss/library/index';

.contact-page {
  .section-title {
    text-align: center;
  }

  .contact {
    @include center-element;
    @include card;

    &-list {
      @include flex;
      flex-direction: column;

      @include breakpoint(md) {
        flex-direction: row;
      }
    }
  }
}
