@import '../scss/library/index';

.contact-page {
  .page-title {
    text-align: center;
    background-color: transparent;
    border: none;
  }

  .contact {
    @include center-element;
    @include card;

    &-list {
      @include flex;
      flex-direction: column;

      @include breakpoint(md) {
        flex-direction: row;
      }

      .contact-email,
      .contact-phone {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
