@import '../scss/library/index';

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h1 {
    text-align: center;
    min-width: 200px;
    margin-bottom: $gap;
  }

  button {
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
    font-weight: 900;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: $color-2;
    margin-top: $gap;
  }
}
