@import '../scss/library/index';

.home-page {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  position: absolute;

  &::after {
    @include breakout;
    content: '';
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    position: absolute;
    background-image: url('../assets/mindful-wandering-hippie-2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    z-index: -1;
  }
}
