@import '../scss/library/index';

.projects-page {
  .page-title {
    background-color: transparent;
    text-align: center;
  }

  .section-title {
    font-size: $font-size-md;

    @include breakpoint(md) {
      font-size: $font-size-lg;
    }

    @include breakpoint(lg) {
      font-size: $font-size-xl;
    }
  }
}

.apiText {
  @include center-element;
}
