@import '../scss/library/index';

.hero {
  @include center-element;
  @include container;
  text-align: center;
  width: 100%;

  h3,
  &-intro {
    font-size: $font-size-sm;
    color: $color-2;

    span {
      display: block;
      color: $color-4;
    }
  }

  h1,
  &-title {
    @include breakout;
    background-color: $color-1;

    span {
      color: $color-3;
    }

    div {
      font-size: $font-size-xsm;
      color: $color-5;

      @include breakpoint(sm) {
        font-size: $font-size-sm;
      }
    }
  }

  &-intro {
    font-size: $font-size-sm;
    color: $color-3;
    text-transform: none;
  }

  h2,
  &-subtitle {
    color: $color-5;
    font-size: $font-size-xsm;

    // span:nth-of-type(1n) {
    //   color: $color-3;
    // }
    // span:nth-of-type(2n) {
    //   color: $color-2;
    // }
    // span:nth-of-type(3n) {
    //   color: $color-5;
    // }

    @include breakpoint(sm) {
      font-size: $font-size-sm;
    }
  }

  blockquote {
    font-size: $font-size-xsm;
    text-transform: uppercase;
    border-left: 4px solid $color-4;
    padding: $gap;
    margin: 0;
    quotes: '\201C''\201D''\2018''\2019';

    p {
      display: inline;
      color: $color-2;
    }
  }
}
