@import './scss/styles.scss';

::selection {
  background-color: $color-3;
  color: $color-1;
}

// Body and dark theme mode
body {
  position: relative;
  z-index: 0;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: 400;
  word-wrap: break-word;
  background-color: $color-1;
  color: $color-3;

  &.dark-mode {
    background-color: $color-3;
    color: $color-1;

    // Text
    p {
      color: $color-1;
    }
  }
}

// Text
p {
  color: $color-3;
  overflow: hidden;
  text-overflow: ellipsis;
  word-spacing: normal;
}

span {
  font-style: inherit;
}

label {
  font-weight: $font-weight-bold;
}

// Inputs
input[type='text'] {
  background-color: $color-4;
  color: $color-2;
  font-size: $font-size-md;
  outline: none;
  border: 1px solid $color-2;
  min-width: 16rem;
  padding: $gap-half;
  text-align: center;
  text-transform: uppercase;
}

input[type='text']::placeholder {
  color: $color-2;
  font-size: $font-size-sm;
}

// Links
a {
  text-decoration: none;
  color: $color-2;
  transition: color 0.2s ease-in-out;

  &:hover,
  &:active {
    color: $color-5;
  }
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-2;
  font-family: $font-family;
  letter-spacing: $letter-spacing-1;
  padding: $gap-double 0;
}

h1 {
  background: $color-4;
  border: $border-default;
  font-size: $font-size-xl;
  padding: $gap-double 0;
  text-transform: uppercase;

  @include breakpoint(md) {
    font-size: $font-size-xl;
  }

  @include breakpoint(lg) {
    font-size: $font-size-xxl;
  }
}

h2 {
  font-size: $font-size-md;

  @include breakpoint(md) {
    font-size: $font-size-lg;
  }

  @include breakpoint(lg) {
    font-size: $font-size-xl;
  }
}

h3 {
  font-size: $font-size;

  @include breakpoint(md) {
    font-size: $font-size-md;
  }

  @include breakpoint(lg) {
    font-size: $font-size-lg;
  }
}

h4 {
  font-size: $font-size;

  @include breakpoint(md) {
    font-size: $font-size;
  }

  @include breakpoint(lg) {
    font-size: $font-size-md;
  }
}

// Lists
ul,
ol {
  margin-top: 0;
  margin-bottom: $gap-double;
  padding-left: $gap-double;

  li {
    &::marker {
      color: $color-2;
      content: '› ';
      font-size: $font-size-md;
      padding-left: $gap-double;
    }
  }
}

nav ul {
  list-style: none;
}
