@import '../scss/library/index';

footer {
  bottom: $gap;
  color: $color-2;
  font-size: $font-size-sm;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;

  .social-icons {
    margin-top: $gap-half;
    margin-left: $gap;

    a {
      text-decoration: none;
      @include transition-ease;
      color: $color-2;
      font-size: $font-size-sm;

      @include breakpoint(sm) {
        font-size: $font-size-lg;
      }

      &:not(:last-of-type) {
        padding: 0 $gap-half;
      }

      &:hover {
        color: $color-link--hover;
      }
    }
  }

  .copyright {
    margin-right: $gap;
    font-size: $font-size-xsm;

    @include breakpoint(sm) {
      font-size: $font-size-sm;
    }
  }
}
