@import '../scss/library/index';

header {
  padding: $gap;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: $header-height;

  .menu-btn {
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: $gap-double;
    top: $gap-double;
    z-index: 1001;
    width: 28px;
    @include transition-ease;

    @include breakpoint(lg) {
      display: none;
    }

    &-burger {
      background: $color-2;
      height: 3px;
      position: absolute;
      right: 0;
      top: $gap-half;
      width: 28px;
      @include transition-ease;

      &::before {
        background: $color-2;
        content: '';
        height: 3px;
        position: absolute;
        top: -8px;
        width: 28px;
        @include transition-ease;
      }

      &::after {
        background: $color-2;
        content: '';
        height: 3px;
        top: 8px;
        position: absolute;
        width: 28px;
        @include transition-ease;
      }

      // We add these classes with JS
      &.open {
        background: transparent;
        transform: rotate(720deg);

        &::before {
          transform: rotate(45deg) translate(5px, 8px);
        }

        &::after {
          transform: rotate(-45deg) translate(3px, -7px);
        }
      }
    }
  }

  @for $i from 1 through 4 {
    .menu-nav-item:nth-child(#{$i}) {
      transition-delay: ($i * 0.1s) + 0.15s;
    }
  }
}
